body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  letter-spacing: 0.03em;
  font-weight: 400px;
}

button {
  --font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.link {
  text-decoration: none;
}

.conteiner {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.1666666667;
    margin-bottom: 50px;
  }
}

.title--visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.header {
  border-bottom: 1px solid #ececec;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header .conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 1.1666666667;
  color: #2196f3;
  display: inline-block;
}
.logo__accent {
  color: #000000;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.1923076923;
  }
}

.header__logo {
  margin-right: 87px;
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  margin-top: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
@media screen and (max-width: 767px) {
  .nav__list {
    display: none;
  }
}

.nav__link {
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}
.nav__link.current {
  color: #2196f3;
  position: relative;
  padding-bottom: 32px;
}
.nav__link.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -2px;
  background-color: #2196f3;
  border-radius: 2px;
}
@media screen and (min-width: 1200px) {
  .nav__link.current::after {
    bottom: 0;
  }
}

.auth-nav {
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .auth-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
  }
}

.auth-nav__link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav__link:hover, .auth-nav__link:focus {
  color: #2196f3;
}

.envelope, .smartphone {
  fill: currentColor;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.envelope:hover, .envelope:focus, .smartphone:hover, .smartphone:focus {
  fill: currentColor;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #ffffff;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}
.menu-container .mobile-menu__link--first {
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
  opacity: 0;
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.9, 0, 0.33, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.9, 0, 0.33, 1);
  transition: transform 500ms cubic-bezier(0.9, 0, 0.33, 1);
  transition: transform 500ms cubic-bezier(0.9, 0, 0.33, 1), -webkit-transform 500ms cubic-bezier(0.9, 0, 0.33, 1);
}
.menu-container .mobile-menu__link--second {
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
  opacity: 0;
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.9, 0, 0.33, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.9, 0, 0.33, 1);
  transition: transform 500ms cubic-bezier(0.9, 0, 0.33, 1);
  transition: transform 500ms cubic-bezier(0.9, 0, 0.33, 1), -webkit-transform 500ms cubic-bezier(0.9, 0, 0.33, 1);
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}
.menu-container .mobile-menu__link--third {
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
  opacity: 0;
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.9, 0, 0.33, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.9, 0, 0.33, 1);
  transition: transform 500ms cubic-bezier(0.9, 0, 0.33, 1);
  transition: transform 500ms cubic-bezier(0.9, 0, 0.33, 1), -webkit-transform 500ms cubic-bezier(0.9, 0, 0.33, 1);
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.menu-container.is-open .mobile-menu__link {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: auto;
}

.mobile-menu-icon {
  fill: #000000;
}
.mobile-menu-icon:hover, .mobile-menu-icon:focus {
  fill: #2196f3;
}

.mobile-menu__link {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
  padding-bottom: 32px;
}
.mobile-menu__link.active {
  color: #2196F3;
}

.mobile-contacts {
  margin-top: 0;
  margin-bottom: 64px;
}

.mobile-contacts__link--phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-contacts__link--mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-bottom: 0;
  margin-top: 0;
}

.mobile-socials__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-socials__item:not(:last-child)::after {
  content: "";
  width: 22px;
  height: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-left: 10px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.hero {
  background-color: #2f303a;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: url(../images/hero/overlay_mob.png), url(../images/hero/img_mob.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero/overlay_mob@2x.png), url(../images/hero/img_mob@2x.jpg);
  }
}
@media screen and (min-width: 481px) {
  .hero {
    background-image: url(../images/hero/overlay_tab.png), url(../images/hero/img_tab.jpg);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero/overlay_tab@2x.png), url(../images/hero/img_tab@2x.jpg);
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: url(../images/hero/overlay_desk.png), url(../images/hero/img_desk.jpg);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero/overlay_desk@2x.png), url(../images/hero/img_desk@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__description {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .hero__description {
    max-width: 390px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .hero__description {
    font-size: 44px;
    line-height: 1.3636363636;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 696px;
  }
}

.hero__button {
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 24px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  margin: 0 auto;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}
@media screen and (min-width: 1200px) {
  .hero__button {
    padding: 10px 32px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 10;
  overflow-y: scroll;
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  max-width: 450px;
  min-height: 581px;
  padding: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.2);
          transform: translate(-50%, -50%) scale(0.2);
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.close-button__icon {
  fill: currentColor;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover .close-button__icon, .close-button:focus .close-button__icon {
  fill: #2196f3;
}

.modal__description {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-form__label {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-form__input-field {
  position: relative;
  margin-bottom: 10px;
}

.modal-form__input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 42px;
  outline: transparent;
  outline-offset: -1px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus {
  border-color: #2196f3;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 12px;
  fill: currentColor;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus + .modal-form__icon {
  fill: #2196f3;
}

.modal-form__textarea {
  resize: none;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__textarea:focus {
  border-color: #2196f3;
}
.modal-form__textarea ::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea ::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea :-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea ::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea ::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__ugry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  margin-bottom: 30px;
}

.modal-form__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  outline: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='10' fill='none'%3E%3Cpath fill='%23fff' stroke='%23fff' stroke-width='.2' d='m1.957 4.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z'/%3E%3C/svg%3E");
  -webkit-transition: 250ms;
  transition: 250ms;
}
.modal-form__checkbox:checked {
  border-color: #2196f3;
  background-color: #2196f3;
  background-size: 11px 8px;
}

.modal-form__ugryment {
  font-size: 12px;
  line-height: 1.1666666667;
  color: #757575;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media screen and (min-width: 1200px) {
  .modal-form__ugryment {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.modal-form__link {
  color: #2196f3;
  text-underline-offset: 2px;
}

.modal-form__submit {
  width: 200px;
  height: 50px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin: 0 auto;
  padding: 0;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__submit:hover, .modal-form__submit:focus {
  background-color: #188ce8;
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.feature__list {
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .feature__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .feature__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .feature__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__item {
    width: 270px;
  }
}

.feature__icon {
  background: #f5f4fa;
  border-radius: 4px;
  width: 100%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .feature__icon {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__icon {
    width: 270px;
  }
}

.feature__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .feature__title {
    text-align: center;
  }
}

.feature__text {
  color: #757575;
  font-size: 14px;
  line-height: 1.7142857143;
  margin: 0;
}

.work {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__list {
  margin-top: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work__item {
  position: relative;
}

.work__img {
  display: block;
}

.work__overlay {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
}

.work__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
}

.team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__list {
  margin-bottom: 0;
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 1199px) {
  .team__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.team__item {
  background-color: #ffffff;
  padding-bottom: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 480px) {
  .team__item {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
}

.team__img {
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .team__img {
    width: 460px;
  }
}
@media screen and (min-width: 768px) {
  .team__img {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__img {
    width: 270px;
  }
}

.team__person {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  margin-bottom: 10px;
}

.team__position {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  color: #757575;
  margin-bottom: 16px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  background-color: #2196f3;
}

.socials__icon {
  fill: #afb1b8;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 20px;
  height: 20px;
}
.socials__link:hover .socials__icon, .socials__link:focus .socials__icon {
  fill: #ffffff;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.clients__item {
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__item:hover, .clients__item:focus {
  border-color: #2196f3;
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
}

.clients__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__icons {
  fill: #afb1b8;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover .clients__icons, .clients__link:focus .clients__icons {
  fill: #2196f3;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer__logo {
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .footer__logo {
    display: block;
    text-align: center;
    margin-right: auto;
  }
}

.footer .logo__accent {
  color: #ffffff;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .address {
    text-align: center;
    margin-bottom: 60px;
  }
}

.address__list {
  margin-top: 0px;
  margin-bottom: 0;
}

.address__link {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address__item {
  margin-top: 9px;
  margin-bottom: 9px;
}

.footer__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .footer__title {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .footer__socials-links {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__socials-links {
    margin-left: 70px;
    margin-right: 93px;
  }
}

.footer .socials__link {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .socials__link:hover, .footer .socials__link:focus {
  background-color: #2196f3;
}

.footer .socials__icon {
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .subscription-form {
    position: relative;
  }
}
@media screen and (min-width: 1200px) {
  .subscription-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
  }
}

.subscription-form__input {
  position: relative;
  outline: none;
  background-color: transparent;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  height: 50px;
  width: 100%;
  padding-left: 16px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .subscription-form__input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscription-form__input {
    width: 450px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription-form__input {
    width: 358px;
  }
  .subscription-form__input::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .subscription-form__input::-moz-placeholder {
    opacity: 0;
    -moz-transition-property: opacity;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .subscription-form__input:-ms-input-placeholder {
    opacity: 0;
    -ms-transition-property: opacity;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .subscription-form__input::-ms-input-placeholder {
    opacity: 0;
    -ms-transition-property: opacity;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .subscription-form__input::placeholder {
    opacity: 0;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .subscription-form__input:focus::-webkit-input-placeholder {
    opacity: 1;
  }
  .subscription-form__input:focus::-moz-placeholder {
    opacity: 1;
  }
  .subscription-form__input:focus:-ms-input-placeholder {
    opacity: 1;
  }
  .subscription-form__input:focus::-ms-input-placeholder {
    opacity: 1;
  }
  .subscription-form__input:focus::placeholder {
    opacity: 1;
  }
  .subscription-form__input:not(:-moz-placeholder-shown):required:valid {
    border-color: rgb(0, 183, 0);
  }
  .subscription-form__input:not(:-ms-input-placeholder):required:valid {
    border-color: rgb(0, 183, 0);
  }
  .subscription-form__input:not(:placeholder-shown):required:valid {
    border-color: rgb(0, 183, 0);
  }
  .subscription-form__input:not(:-moz-placeholder-shown):required:invalid {
    border-color: rgb(255, 0, 0);
  }
  .subscription-form__input:not(:-ms-input-placeholder):required:invalid {
    border-color: rgb(255, 0, 0);
  }
  .subscription-form__input:not(:placeholder-shown):required:invalid {
    border-color: rgb(255, 0, 0);
  }
}

.subscription-form__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription-form__input:not(:-moz-placeholder-shown) + .subscription-form__label {
  transform: translate(-150%, -50%) scale(0.9);
}
.subscription-form__input:not(:-ms-input-placeholder) + .subscription-form__label {
  transform: translate(-150%, -50%) scale(0.9);
}
.subscription-form__input:focus + .subscription-form__label, .subscription-form__input:not(:placeholder-shown) + .subscription-form__label {
  -webkit-transform: translate(-150%, -50%) scale(0.9);
          transform: translate(-150%, -50%) scale(0.9);
}
@media screen and (max-width: 1199px) {
  .subscription-form__label {
    opacity: 0;
  }
}

.subscription-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 28px;
  width: 200px;
  gap: 10px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 1199px) {
  .subscription-form__btn {
    margin-left: auto;
    margin-right: auto;
  }
}

.button__icon-send {
  fill: currentColor;
}/*# sourceMappingURL=main.css.map */