.clients {
    padding-top: 60px;
    padding-bottom: 60px;
    
    // на таблетці також по 60px
    
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.clients__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    @media screen and (min-width: 1200px) {
        @include centeredFlex ();
        flex-wrap: nowrap;
    }
}

.clients__item {
    width: 210px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    @include animation (border-color);

    &:hover,
    &:focus {
        border-color: $accent-color;
    }

    @media screen and (min-width: 768px) {
        width: 226px;
    }

    @media screen and (min-width: 1200px) {
        width: 170px;
    }

}

.clients__link {
    width: 100%;
    height: 100%;
    @include centeredFlex ();
}

.clients__icons {
    fill: #afb1b8;
    @include animation (fill);

    .clients__link:hover &,
    .clients__link:focus & {
        fill: $accent-color;
    }
}